article li p {
    display: inline-block !important;
    vertical-align: text-top;
}
article ul li {
    line-height: 1.5rem;
}

.nexmoe-archives > .tagcloud.nexmoe-rainbow {
    display: none;
}

#nexmoe-content .nexmoe-post .nexmoe-post-cover {
    padding-bottom: 15% !important;
}

@media screen and (max-width: 1024px) {
    #nexmoe-content .nexmoe-post .nexmoe-post-cover {
        padding-bottom: 28% !important;
    }
    #nexmoe-content .nexmoe-post .nexmoe-post-cover.absolute h1 {
        font-size: 1.6rem;
        padding: 10px;
    }
    .nexmoe-post-right {
        margin: 0;
    }
}

/* highlight.js */
.highlight {
    background: #22272e;
}
article pre{
    background: inherit;
}